body {
    background-color: black;
    color: white;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 90px;
}

main{
    display: flex;
    flex-direction: column;

}

.title{
    position: absolute;
    font-size: 60px;
    justify-content: center;
    align-items: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 750px 350px ;
}