body {
    background-color: black;
    color: white;
}

header{
    /* the top sentence "the story of gotham" */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 90px;
}

main{
    display: flex;
    flex-direction: column;

}

.title{
    /*the word "The Batman" on the top of the photo*/
    position: absolute;
    font-size: 60px;
    justify-content: center;
    align-items: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    /*
    .main-div{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 750px 350px ;}
    */

    
    
.main-div {
     /*the div that contains the rest of the page below the main photo*/
      display:grid;
      grid-template-columns: 1500px 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 
     "article photo photo"
     "article photo photo";
}

.article-div{
    grid-area: article;
    border: 5px solid red;
}

.photo1-div{
    grid-area: photo;
    border: 5px solid lightblue;
}

.photo2-div{
    grid-area: photo;
    border: 5px solid lightpink;
}

.photo3-div{
    grid-area: photo;
    border: 5px solid lightblue;
}

.photo4-div{
    grid-area: photo;
    border: 5px solid lightpink;
}